{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_datacurso_ratings/ai_analysis_response

    TODO describe template ai_analysis_response

    Example context (json):
    responseAi:{
            loading: true | false,
            success: false | true,
            message: '',
    };
}}

{{#loading}}
    <div>
        <i class="fa fa-spinner fa-spin"></i> 
        {{#str}} generatecommentaiprocess, local_datacurso_ratings {{/str}}
    </div>
{{/loading}}

{{^loading}}
    {{#success}}
    <div class="alert alert-info mt-2" role="alert">
        <h6>
        {{#success}}{{#str}} analysisresult, local_datacurso_ratings {{/str}}{{/success}}
        </h6>
        <p>{{message}}</p>
    </div>
    {{/success}}
    {{^success}}
    <div class="alert alert-danger p-2 mb-2">
        <i class="fa fa-exclamation-triangle"></i> {{{message}}}
    </div>`
    {{/success}}
{{/loading}}
