{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_datacurso_ratings/feedback_page

    TODO describe template feedback

    Example context (json):
    {
    }
}}

<div class="feedback-admin" data-type="{{type}}">

    <form class="feedback-form d-flex gap-5 mb-3">
        <input type="text" name="feedbacktext" class="form-control mr-2" 
            placeholder="{{#str}} add, core {{/str}}" 
            required
            maxlength="150"
        >
        <button type="submit" class="btn btn-primary">{{#str}} add, core {{/str}}</button>
    </form>

    <ul class="feedback-list list-group">
        {{#items}}
            <li class="feedback-item list-group-item d-flex justify-content-between align-items-center">
                <span class="feedback-text">{{feedbacktext}}</span>
                <button type="button" class="btn btn-outline-danger btn-sm btn-delete" data-id="{{id}}"> X </button>
            </li>
        {{/items}}

        {{^items}}
            <li class="list-group-item text-muted">{{#str}} nodata, local_datacurso_ratings {{/str}}</li>
        {{/items}}
    </ul>
</div>

{{#js}}
require(['local_datacurso_ratings/feedback'], function(module) {
    module.init();
});
{{/js}}
